<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if movie %}Update Product {% else %}Create Product{% endif %}</title>
</head>
<body>
<h1>{% if movie %}Update Product{% else %}Create Product{% endif %}</h1>
<form method="post">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input type="text" name="title" id="title" value="{{ movie.title }}"><br><br>

  <label for="director">Director:</label><br>
  <input type="text" name="director" id="director" value="{{ movie.director }}"><br><br>

  <label for="release_year">Release Year:</label><br>
  <input type="number" name="release_year" id="release_year" value="{{ movie.release_year }}"><br><br>

  <label for="genre">Genre:</label><br>
  <input type="text" name="genre" id="genre" value="{{ movie.genre }}"><br><br>

  {% if movie %}
  <input type="submit" value="Update"><br><br>
      <button><a href="{{ movie.get_detail_url }}">Back to Detail</a></button>
    <br><br>
  {% else %}
   <input type="submit" value="Create Product"><br><br>
    <button><a href="{% url 'movies:list' %}">Back to List</a></button>  <button><a href="{% url 'home' %}">Home</a></button>
    <br><br>
  {% endif %}
</form>

</body>
</html>